<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WpfPosApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WpfPosApp.Themes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WpfPosApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=JERRALD\SQLEXPRESS01;Initial Catalog=project;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="WpfPosApp.Properties.Settings.projectConnectionString" connectionString="Data Source=JERRALD\SQLEXPRESS01;Initial Catalog=project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="projectCon" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JERRALD\SQLEXPRESS01;initial catalog=project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="barcodeEntities" connectionString="metadata=res://*/BarcodeModel.csdl|res://*/BarcodeModel.ssdl|res://*/BarcodeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JERRALD\SQLEXPRESS01;initial catalog=project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="productEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JERRALD\SQLEXPRESS01;initial catalog=project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <WpfPosApp.Properties.Settings>
      <setting name="SavedSetting1" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pnlCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pnlCheck2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBox2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UCheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UCheckBox2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpnlCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpnlCheck2" serializeAs="String">
        <value>False</value>
      </setting>
    </WpfPosApp.Properties.Settings>
    <WpfPosApp.Themes>
      <setting name="ThemeName" serializeAs="String">
        <value />
      </setting>
    </WpfPosApp.Themes>
  </userSettings>
  <applicationSettings>
    <WpfPosApp.Properties.Settings>
      <setting name="AppSavedSetting" serializeAs="String">
        <value />
      </setting>
    </WpfPosApp.Properties.Settings>
  </applicationSettings>
</configuration>